<h1>Login</h1>
  <form method="POST" action="/login">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="submit">
</form>

<h2>Acheter ce balai à 25€</h2>
<form action="/pay" method="POST">
  <input type="submit" value="buy">
</form>